@import "./jquerycss"; //cuando lo importo es sin _

* {
  padding: 0;
  margin: 0;
}

.header {
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  height: 60px;
  // justify-content: space-between;

  #logo {
    width: 55px;
    height: 50px;
    padding: 0px 1em 0px;
  }

  .navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04aa6d;
  }

  .navi > ul li {
    float: left;
    align-items: center;
  }

  .navi ul li a {
    display: block;
    color: white;
    //color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }

  .navi li a:hover {
    background-color: darkcyan;
  }

  .navi li ul {
    display: none;
    position: absolute;
  }

  .navi li:hover > ul {
    display: block;
  }

  #user {
    //padding-right: 1.5em;
    color: rgb(20, 11, 150);
    font-style: oblique;
  }

  .puntaje {
    border-radius: 50px;
    background-color: rgb(177, 170, 170);
    color: rgb(0, 0, 0);
    padding: 0px 6px 0px;

    &.score {
      transform: scale(1.4, 1.4);
      transition: transform 1s ease;
      background-color: rgb(243, 14, 110);
      font-size: large;
      color: white;
      border-radius: 80%;
    }
  }

  &.move {
    background-color: red;
    -webkit-transform: scale(3.5, 3.9);
    -webkit-transform: translate(100px, 100px);
    transform: translate(100px, 100px);
  }

  #last,
  #max,
  #reset {
    padding: 0em 1em 0em;
  }
}

.swaltext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: rgb(199, 45, 45) !important;
}

body {
  //height: 600px;
  // background:  linear-gradient(to right, rgba(255,255,255,0), rgb(42, 175, 75));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(205, 236, 205)), url(./images/fondo7.png);
  background-size: 100%;
  //background-repeat: round;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;

  main {
    padding-top: 100px;
    padding-right: 450px;
    display: grid;
    grid-template: 1fr / 1fr; //filas / columnas fraccion
    // grid-template-rows: 20px 1fr ;
    //grid-template-columns: 20px 1fr 1fr;
    grid-template-areas: ". tablero .";
    //  fila "columna(. es de anonima o no me importa) columna(nombre) columna"

    #container {
      grid-area: tablero;
      display: grid; //generan un conteiner flexible que permite modificar los contenidos
      grid-template: repeat(15, 20px) / repeat(17, 20px);
      justify-content: center;
      align-content: center;

      //gap: 5px;
      .casillero {
        width: 20px;
        height: 20px;
        font-size: 0px; //para que no se vean los numeros
        border: 1px solid greenyellow;
        &:nth-child(odd) {
          background: linear-gradient(rgb(194, 178, 178), green);
          // background-image: url(./images/casillero.jpg);
          // background-size: 20px 20px;
          //color: transparent; //blue;
          //color: blue;
        }
        &:nth-child(even) {
          // background: linear-gradient(rgba(255,255,255,0),yellowgreen);
          background-color: yellowgreen;
          //color: transparent; //black;
          // color: black
        }

        &.headSnake {
          // background-color:#fc5500; //rebeccapurple;
          background-image: url(./images/headSnake.png);
          background-size: 20px 20px;
        }

        &.bodySnake {
          background-color: #2f2c79;
          background: linear-gradient(rgb(45, 6, 82), violet);
        }

        &.bordesLeft,
        &.bordesRight {
          color: transparent;
        }

        &.food {
          //background-color: red;
          background-image: url(./images/apple.png);
          background-repeat: no-repeat;
          background-size: 20px 20px;
          transform: rotate(1turn);
          transition: transform 0.9s ease;
        }
      }
    }
  }
}

#div_form {
  /* Centrar el formulario en la página */
  margin-top: 310px;
  width: 290px;
  height: 190px;
  /* Esquema del formulario */
  padding: 1em;
  //  border: 1px solid #CCC;
  // background-color: rgb(225, 236, 234);
  border-radius: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif;
  display: inline-block !important;
  //width: 30%;
  font-size: large;
  text-align: left;
  //text-shadow: 0 0 0.2em #8F7
  color: whitesmoke;
  text-shadow: black 0.1em 0.1em 0.2em;
}
label[class="label_dialog"] {
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif;
  display: inline-block !important;
  //width: 30%;
  font-size: large;
  text-align: left;
  //text-shadow: 0 0 0.2em #8F7
  color: #04aa6d !important;
  text-shadow: #04aa6d 0em 0em 0em;
}
input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}
input[type="checkbox"] {
  display: none;
}
input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}
#dialog-form {
  color: rgb(240, 247, 241);
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}
.ui-widget {
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}
fieldset {
  color: rgb(240, 247, 241);
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}
div[class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"] {
  background-color: rgb(7, 82, 44);
  color: rgb(240, 247, 241);
  text-shadow: black 0.1em 0.1em 0.2em;
}

.validateTips {
  color: rgb(7, 82, 44);
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}
button {
  background-color: #04aa6d !important;
  color: rgb(240, 247, 241) !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}
.usernameModal {
  color: rgb(20, 11, 150);
  font-style: oblique;
}
