@charset "UTF-8";
label,
input {
  display: block;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: 0.4em;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

h1 {
  font-size: 1.2em;
  margin: 0.6em 0;
}

div#users-contain {
  width: 350px;
  margin: 20px 0;
}

div#users-contain table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}

div#users-contain table td,
div#users-contain table th {
  border: 1px solid #eee;
  padding: 0.6em 10px;
  text-align: left;
}

.ui-dialog .ui-state-error {
  padding: 0.3em;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

.imgUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgUser img {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  height: 60px;
}

.header #logo {
  width: 55px;
  height: 50px;
  padding: 0px 1em 0px;
}

.header .navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04aa6d;
}

.header .navi > ul li {
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navi ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

.header .navi li a:hover {
  background-color: darkcyan;
}

.header .navi li ul {
  display: none;
  position: absolute;
}

.header .navi li:hover > ul {
  display: block;
}

.header #user {
  color: #140b96;
  font-style: oblique;
}

.header .puntaje {
  border-radius: 50px;
  background-color: #b1aaaa;
  color: black;
  padding: 0px 6px 0px;
}

.header .puntaje.score {
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  background-color: #f30e6e;
  font-size: large;
  color: white;
  border-radius: 80%;
}

.header.move {
  background-color: red;
  -webkit-transform: scale(3.5, 3.9);
  -webkit-transform: translate(100px, 100px);
  transform: translate(100px, 100px);
}

.header #last,
.header #max,
.header #reset {
  padding: 0em 1em 0em;
}

.swaltext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: #c72d2d !important;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#cdeccd)), url(./images/fondo7.png);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #cdeccd), url(./images/fondo7.png);
  background-size: 100%;
}

body main {
  padding-top: 100px;
  padding-right: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
      grid-template-areas: ". tablero .";
}

body main #container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tablero;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (20px)[15];
  -ms-grid-columns: (20px)[17];
      grid-template: repeat(15, 20px)/repeat(17, 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main #container .casillero {
  width: 20px;
  height: 20px;
  font-size: 0px;
  border: 1px solid greenyellow;
}

body main #container .casillero:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(#c2b2b2), to(green));
  background: linear-gradient(#c2b2b2, green);
}

body main #container .casillero:nth-child(even) {
  background-color: yellowgreen;
}

body main #container .casillero.headSnake {
  background-image: url(./images/headSnake.png);
  background-size: 20px 20px;
}

body main #container .casillero.bodySnake {
  background-color: #2f2c79;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d0652), to(violet));
  background: linear-gradient(#2d0652, violet);
}

body main #container .casillero.bordesLeft, body main #container .casillero.bordesRight {
  color: transparent;
}

body main #container .casillero.food {
  background-image: url(./images/apple.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

#div_form {
  /* Centrar el formulario en la página */
  margin-top: 310px;
  width: 290px;
  height: 190px;
  /* Esquema del formulario */
  padding: 1em;
  border-radius: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif;
  display: inline-block !important;
  font-size: large;
  text-align: left;
  color: whitesmoke;
  text-shadow: black 0.1em 0.1em 0.2em;
}

label[class="label_dialog"] {
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif;
  display: inline-block !important;
  font-size: large;
  text-align: left;
  color: #04aa6d !important;
  text-shadow: #04aa6d 0em 0em 0em;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
  /* Tamaño uniforme del campo de texto */
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input[type="checkbox"] {
  display: none;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;
  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

#dialog-form {
  color: #f0f7f1;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}

.ui-widget {
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}

fieldset {
  color: #f0f7f1;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}

div[class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"] {
  background-color: #07522c;
  color: #f0f7f1;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.validateTips {
  color: #07522c;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}

button {
  background-color: #04aa6d !important;
  color: #f0f7f1 !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: Comic Sans MS, Snap ITC, Matura MT Script Capitals, Helvetica, sans-serif !important;
}

.usernameModal {
  color: #140b96;
  font-style: oblique;
}
/*# sourceMappingURL=style.css.map */